<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor Details</title>

    <link rel="stylesheet" th:href="@{/css/doctorView.css}">
</head>

<body>

<div class="container">

    <h2>👨‍⚕️ Doctor Profile</h2>

    <div class="card">

        <p><b>ID:</b> <span th:text="${doctor.id}"></span></p>
        <p><b>Name:</b> <span th:text="${doctor.name}"></span></p>
        <p><b>Specialization:</b> <span th:text="${doctor.specialization}"></span></p>
        <p><b>Phone:</b> <span th:text="${doctor.phone}"></span></p>

    </div>

    <div class="buttons">
        <a class="button back" th:href="@{/doctors/list}">← Back</a>
        <a class="button dashboard" th:href="@{/dashboard}">🏠 Dashboard</a>
    </div>

</div>

</body>
</html>